# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.venv/
venv/
parse-bunny/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Redis dumps (if used)
dump.rdb1   `QAZDXC`

api_key.txt
create_template.py
GOALS
